@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.header {
    @apply shadow-sm fixed w-full h-16 z-50 bg-white top-0;
}

.navbar {
    @apply flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4;
}

.signup::after {
    content: '';
    display: inline-block;
    width: 14px;
    height: 17px;
    background: url('../src/assets/user.svg') no-repeat center center;
    margin-left: .5rem;
    position: relative;
    top: 3px;
}

.btn-primary {
    @apply min-w-32 text-base font-semibold text-yellow-900 bg-yellow-300 border border-none rounded-md px-3 py-4 cursor-pointer hover:outline-none hover:shadow-custom transition delay-75 focus:outline-none focus:shadow-custom disabled:opacity-50 disabled:cursor-not-allowed; 
}

.input {
    @apply block w-full border border-gray-200 text-base p-3 rounded-xl bg-gray-200 transition delay-75 hover:outline-none hover:shadow-custom hover:bg-white hover:border-yellow-300 focus:outline-none focus:shadow-custom focus:bg-white focus:border-yellow-300;
}

.label {
    @apply block text-base pb-2;
}

.error {
    @apply text-red-500 text-sm mt-2;
}